target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
.classpath
.project
.settings/
.checkstyle
MANIFEST.MF
overlays/
.idea/
*.iml
.metadata
Servers*
.pmd
*.class
*.jar
*.dmg
*.gz
*.iso
*.jar
*.war
*.ejb
*.ear
*.rar
*.tar
*.tar.gz
*.zip
*.iml
*.ipr
*.iws
.idea/
nbactions.xml
nb-configuration.xml
*.log
*.tmp
*.bak
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
